body{
    font-family: sans-serif;
    display: grid;
    height: 100vh;
    grid-template-rows: 0.5fr 10fr 0.5fr;
    grid-template-columns: 2fr 4fr 2fr;
    grid-template-areas: 
    "head1 head-space head2"
    "sec1 search sec2"
    "foot1 foot-space foot2" ;
    
    
    
}

.head1{
    position: head1;

}

.head-space{
    grid-area: head-space;
   
}

.head2{
    grid-area: head2;
    justify-self: right;
    margin-right: 7%;
    padding-top: 20px;
}

.sec1{
    grid-area: sec1;   
}

.search{
    grid-area: search;
    justify-self: center;
    align-self: center;
}

.sec2{
    grid-area: sec2;
}

.foot1{
    background: lightgray;
    grid-area: foot1;
}

.foot-space{
    background: lightgray;
    grid-area: foot-space;
}

.foot2{
    background: lightgray;
    grid-area: foot2;
}


button{
    margin-left: 40px;
    
}

input{
    padding-right: 60%;
    padding-bottom: 7px;
    margin-bottom: 5px;
    border-radius: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}

li {
    display: inline;
}
